<h1><%= t('.all_cards')%></h1>
<section class="all-cards">
    <table class="table table-striped">
      <thead>
	  <tr>
	      <th>#</th>
	      <th><%= t('.text')%></th>
	      <th><%= t('.translation')%></th>
	      <th><%= t('.review_date')%></th>
	      <th><%= t('.created')%></th>
	  </tr>
      </thead>
      <tbody>
	  <% @cards.each_with_index do |card, index| %>
	      <tr id="wordline">
		  <th scope="row"><%= index+1 %></th>
		  <td><%= link_to card.original_text, edit_card_path(card), id: "origtext" %></td>
		  <td><%= card.translated_text %></td>
		  <td><%= card.review_date.nil? ? '-' : card.review_date.to_time.strftime("%d/%m/%Y") %></td>
		  <td><%= card.created_at.to_time.strftime("%d/%m/%Y") %></td>
	      </tr>
	  <% end %>
      </tbody>
  </table>
</section>
