<%= simple_form_for(@user) do |f| %>

    <% if @user.errors.any? %>
	      <div class="alert alert-danger alert-dismissible" role="alert">
	          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h5><%= pluralize(@user.errors.count, "ошибка(-ок)") %>
		            выявлено при сохранении формы:</h5>

	          <ul>
		            <% @user.errors.full_messages.each do |msg| %>
		                <li><%= msg %></li>
		            <% end %>
	          </ul>
	      </div>
    <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
