<%= render partial: 'shared/session_links' %>

<h3 class="page-header"><%= t('.title')%></h3>
<section class="all-packs">
    <table class="table table-striped">
        <thead>
	          <tr>
	              <th>#</th>
	              <th><%= t('.text')%></th>
                <th><%= t('.actions')%></th>
                <th></th>
	          </tr>
        </thead>
        <tbody>
	          <% current_user.packs.each_with_index do |pack, index| %>
	              <tr>
		                <th scope="row"><%= index+1 %></th>
		                <td><%= link_to pack.title, pack_path(pack) %></td>
                    <td><%= button_to t('.default_set'), set_pack_path(pack), class: "btn-link" %></td>
		                <td><%= link_to t('.delete'), pack_path(pack), method: :delete %></td>
	              </tr>
	          <% end %>
        </tbody>
    </table>
</section>
<%= button_to t('.new_pack'), new_pack_new_path, class: "btn btn-default navbar-btn alert-info", id: "new_pack" %>
<h3 class="page-header"><%= t('.title_cards')%></h3>
<section class="all-cards">
    <table class="table table-striped">
        <thead>
	          <tr>
	              <th>#</th>
	              <th><%= t('.text')%></th>
	              <th><%= t('.translation')%></th>
	              <th><%= t('.review_date')%></th>
                <th><%= t('.pack')%></th>
	              <th><%= t('.actions')%></th>
	          </tr>
        </thead>
        <tbody>
	          <% @user.cards.each_with_index do |card, index| %>
	              <tr>
		                <th scope="row"><%= index+1 %></th>
		                <td><%= link_to card.original_text, edit_card_path(card) %></td>
		                <td><%= card.translated_text %></td>
		                <td><%= card.review_date.nil? ? '-' : review_diff(card) %></td>
                    <td><%= card.pack_id %>
		                <td><%= link_to t('.delete'), card_path(card), method: :delete %></td>
	              </tr>
	          <% end %>
        </tbody>
    </table>
</section>
