<%= simple_form_for(@card) do |f| %>

    <% if @card.errors.any? %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h5><%= pluralize(@card.errors.count, "ошибка(-ок)") %>
		выявлено при сохранении формы:</h5>

	    <ul>
		<% @card.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>
    <%= f.input :original_text, label: "Текст", placeholder: "Текст", input_html: { :style=> 'width: 50%;', :rows => 1} %>
    <%= f.input :translated_text, label: "Перевод", placeholder: "Перевод", input_html: { :style=> 'width: 50%;', :rows => 1} %>
    <%= f.button :submit %><br />
<% end %>
