<div class="panel panel-default">
    <div class="panel-heading">
	<h3 class="panel-title"><%= @card.id %> | <%= @card.translated_text %></h3>
    </div>
    <div class="panel-body">
	<%= form_tag check_card_path do %>
	    <%= text_field_tag :answer, "", placeholder: "Ваш ответ", class: 'input' %>
	    <%= hidden_field_tag :id, @card.id %>
	    <%= submit_tag "Проверить" %>
	<% end %>
    </div>
</div>
