<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title')%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :answer_time %>
  </head>
  <body>
      <%= render partial: 'layouts/navbar' %>
  </body>
</html>
